*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.shero{
    height: 800px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('../images/beach-house.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    
}

.text{
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 480px;
    text-align: center;
    font-size: 2.5rem;
    color: #F9F5F6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text p{
    font-size: 2rem;
    margin-top: 10px;
}

.btn{
    width:300px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #3F2305;
    background-color: #FDFFAE;
    margin-top: 30px;
}

.btn a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #068FFF;
    font-weight: bold;
  
}