*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.shero{
    height: 800px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('../images/beach-house.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    
}

.text{
    margin: 0 auto;
    position: absolute;
    top: 28%;
    left: 480px;
    text-align: center;
    font-size: 2.5rem;
    color: #F9F5F6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text p{
    font-size: 2rem;
    margin-top: 10px;
}

.btn{
    width:300px;
    padding: 15px;
    border-radius: 5px;
    border:none;
    background-color: #FBD85D;
    margin-top: 30px;
}

.btn a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #4E3636;
    font-weight: bold;
  
}

.banner-container{
    display: flex;
    align-items: center;
    
}

.logo-img{
    margin-top: -110px;
    margin-left: 130px;
    width: 400px;
}
.menus{
    display: flex;
    margin-left: 410px;
    margin-top: -180px;
}

.menus li{
    list-style: none;
    font-size: 1.3rem;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.menus li a{
     text-decoration: none;
     color:#F9F5F6 ;
}

.menus li a:hover{
    color:#FBD85D;
}

.title-text{
    text-align: center;
    margin: 30px 0;
    font-size: 3rem;
}

.about-img img{
    width: 600px;
    border-radius: 10px;
    margin-right: -150px;
  
}

.about-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.about-text{
    font-size: 1.3rem;
    width: 50%;
    margin-right: 100px;
    
}

.about-text p {
    text-align: justify;
}